---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="200"
					height="200"	
					src="/assets/image_pro.jpg"
					alt="Jughurta at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					
					<p>
						Holding a <a href="https://formations.univ-gustave-eiffel.fr/index.php?id=1941&tx_agof_brochure%5Bbrochure%5D=417&tx_agof_brochure%5Baction%5D=show&tx_agof_brochure%5Bcontroller%5D=Brochure&cHash=9f65a55d410d7699d8d43d132f20ce9f">Master's degree in Software and Data Engineering</a>
						 from <a href="https://igm.univ-gustave-eiffel.fr/">Gustave Eiffel University - Gaspard-Monge Institute of Electronics and Computer Science (IGM)</a>, 
						 with 2 years of experience in application development, I have specialized in backend development, data analysis, and software design, driven by a 
						 passion for data and software innovation. My professional journey has equipped me with a strong expertise through diverse projects, spanning startups
						  to large corporations. This experience has honed my adaptability and problem-solving skills, and I am always eager to connect with like-minded 
						  professionals who share my interests and aspirations.
					</p>
					
					<p>
						My professional path includes pivotal roles, such as an IT Project Manager & Software Developer Intern at McDonald's France Services, where I contributed 
						to the design of a project tracking and management tool, streamlining planning and synchronization among teams. I also served as a Data Analyst at 
						Iziwork, where I handled ETL (Extract, Transform, Load) processes, conducted data analysis in a NoSQL database, and carried out feasibility studies. 
						I integrated the study results into a matching formula within a machine learning model, evaluating the potential impact of this variable on formula 
						accuracy, as well as the financial implications related to external API usage.
					</p>
					
					<p>
						My education in Software and Data Engineering at Gustave Eiffel University - Gaspard Monge Institute has provided me with in-depth expertise in 
						software architecture, covering a wide range of skills, from database design to application development and security. I've delved into fundamental 
						principles of software design and structuring, emphasizing the creation of robust, scalable, and maintainable software systems. This training has 
						also encompassed the use of technologies such as Java, Hibernate, and Spring for application development, along with an agile methodology-based 
						approach. Mastery in software architecture has empowered me to conceive, develop, and secure high-level technological solutions in alignment with 
						industry best practices.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><b>Master 2 in Software, Data Engineering</b>  Gustave Eiffel University - Gaspard Monge Institute at Paris ( 2021 - 2023 )
					</p>
					<p>	<b>Bachelor's Degree in Mathematics and Computer Science</b>  Gustave Eiffel University - Gaspard Monge Institute at Paris ( 2017 - 2021 )
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<h5>Data</h5>
					<ul>
						<li>Data Analysis</li>
						<li>Data Modeling</li>
						<li>Data Visualization</li>
						<!-- Ajoutez d'autres compétences liées aux données ici -->
					</ul>
			
					<h5>Backend</h5>
					<ul>
						<li>Backend Development</li>
						<li>Database Design</li>
						<li>API Development</li>
						<!-- Ajoutez d'autres compétences liées au backend ici -->
					</ul>
			
					<h5>Software Architecture</h5>
					<ul>
						<li>Software Design Patterns</li>
						<li>Scalable Architecture</li>
						<li>System Integration</li>
						<!-- Ajoutez d'autres compétences liées à l'architecture logicielle ici -->
					</ul>
					<h5>Gestion de projet</h5>
					<ul>
						<li>Planification de projet</li>
						<li>Gestion de ressources</li>
						<li>Planification de tâches</li>
						<!-- Ajoutez d'autres compétences liées à la gestion de projet ici -->
					</ul>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
